Repository brb-tech/brb-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet, prettier --write

ci: update node version
  .github/install/action.yml
  .github/workflows/quality.yml
Due: none

feat: update
  pnpm-lock.yaml
Due: none

test: workflow
  .changeset/heavy-flowers-rest.md
Due: none

feat: update extensions
  .vscode/extensions.json
Due: prettier --write

chore: require node 24 lts and align ci pnpm
  .github/install/action.yml
  .github/workflows/quality.yml
  .lintstagedrc
  .nvmrc
  docs/website/package.json
  examples/create-react-app/package.json
  examples/nextjs-app-router/package.json
  examples/nextjs-pages-router/package.json
  package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: add dev environment config for Cloud Agent
  .npmrc
  AGENTS.md
  package.json
Due: prettier --write

chore: switch vite react to swc and bump workspace dependencies
  .github/install/action.yml
  .oxfmtignore
  .oxlintrc.json
  docs/storybook/.storybook/main.ts
  docs/storybook/.storybook/manager-head.html
  docs/storybook/.storybook/preview-head.html
  docs/storybook/package.json
  docs/website/package.json
  examples/create-react-app/package.json
  examples/create-react-app/public/index.html
  examples/create-react-app/src/index.css
  examples/nextjs-app-router/package.json
  examples/nextjs-app-router/src/app/globals.css
  examples/nextjs-pages-router/package.json
  examples/vite-react-ts/README.md
  examples/vite-react-ts/package.json
  examples/vite-react-ts/vite.config.ts
  package.json
  packages/animations/package.json
  packages/button/package.json
  packages/button/src/button.tsx
  packages/core/package.json
  packages/hooks/package.json
  packages/hooks/src/use-local-storage.ts
  packages/icon/package.json
  packages/icons/package.json
  packages/system/package.json
  packages/transition/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  tools/testing/package.json
  tools/vite-lib-config/package.json
  tools/vite-lib-config/vite.lib.config.mjs
  tsconfig.json
  vitest.config.mts
Due: eslint --quiet, prettier --write

chore: drop emotion swc plugin from vite builds
  docs/storybook/.storybook/main.ts
  docs/storybook/package.json
  examples/vite-react-ts/README.md
  examples/vite-react-ts/package.json
  examples/vite-react-ts/vite.config.ts
  packages/button/stories/button.stories.tsx
  pnpm-lock.yaml
  tools/vite-lib-config/package.json
  tools/vite-lib-config/vite.lib.config.mjs
Due: eslint --quiet, prettier --write

chore: add Cursor cloud agent environment with pnpm install
  .cursor/environment.json
Due: prettier --write

Add AGENTS.md with Cursor Cloud specific instructions for BRB UI development
  AGENTS.md
Due: none

Use Corepack for pnpm version management and fix pnpm version to 9
  AGENTS.md
  package.json
Due: prettier --write

chore: use pnpm commitlint in husky hook
  .husky/commit-msg
Due: none

chore: use pnpm lint-staged in husky pre-commit
  .husky/pre-commit
Due: none

chore: run oxlint directly in workspace packages
  .oxlintrc.json
  docs/storybook/package.json
  docs/website/package.json
  examples/nextjs-app-router/package.json
  examples/nextjs-pages-router/package.json
  examples/vite-react-ts/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: dedupe oxlint to root via pnpm exec in workspace lint scripts
  docs/storybook/package.json
  docs/website/package.json
  examples/nextjs-app-router/package.json
  examples/nextjs-pages-router/package.json
  examples/vite-react-ts/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: use bare oxlint in workspace package lint scripts
  docs/storybook/package.json
  docs/website/package.json
  examples/nextjs-app-router/package.json
  examples/nextjs-pages-router/package.json
  examples/vite-react-ts/package.json
Due: prettier --write

chore: restore husky.sh sourcing in git hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

chore: drop deprecated husky.sh sourcing from hooks
  .husky/commit-msg
  .husky/pre-commit
Due: none

Add AGENTS.md for Cursor Cloud development environment (#15)
  AGENTS.md
Due: none

fix(AGENTS.md): correct nvm path and add build scripts note
  AGENTS.md
Due: none

fix(cursor): bootstrap pnpm via Corepack in cloud install script
  .cursor/environment.json
  .cursor/install.sh
Due: prettier --write

fix(cursor): bake Node and pnpm into Dockerfile before install
  .cursor/Dockerfile
  .cursor/environment.json
  .cursor/install.sh
  AGENTS.md
Due: prettier --write

chore(cursor): use full node image, corepack enable only
  .cursor/Dockerfile
  AGENTS.md
Due: none

Path conditions:
  eslint --quiet: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json}
