Repository brb-tech/brb-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet, prettier --write

chore: release
  .changeset/curvy-houses-repair.md
  .github/workflows/release.yml
Due: none

ci(changesets): version packages
  .changeset/curvy-houses-repair.md
  packages/animations/CHANGELOG.md
  packages/animations/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/transition/CHANGELOG.md
  packages/transition/package.json
Due: prettier --write

chore: release
  .changeset/config.json
  .changeset/four-gifts-retire.md
  .github/workflows/release.yml
  package.json
Due: prettier --write

ci(changesets): version packages
  .changeset/four-gifts-retire.md
  packages/animations/CHANGELOG.md
  packages/animations/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/transition/CHANGELOG.md
  packages/transition/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

ci: update
  .changeset/README.md
  .changeset/real-cheetahs-speak.md
  .npmrc
Due: none

ci: update
  .changeset/README.md
  .npmrc
Due: none

ci(changesets): version packages
  .changeset/real-cheetahs-speak.md
  packages/animations/CHANGELOG.md
  packages/animations/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/transition/CHANGELOG.md
  packages/transition/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

ci: update
  .changeset/dull-meals-yell.md
  .github/workflows/release.yml
Due: none

ci(changesets): version packages
  .changeset/dull-meals-yell.md
  packages/animations/CHANGELOG.md
  packages/animations/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/transition/CHANGELOG.md
  packages/transition/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

ci: update
  .changeset/afraid-dancers-arrive.md
  .github/workflows/release.yml
Due: none

ci(changesets): version packages
  .changeset/afraid-dancers-arrive.md
  packages/animations/CHANGELOG.md
  packages/animations/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/transition/CHANGELOG.md
  packages/transition/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

chore: add packages core
  packages/core/README.md
  packages/core/package.json
  packages/core/src/index.ts
  packages/core/tsconfig.json
  packages/hooks/src/types.ts
  packages/transition/src/index.ts
  pnpm-lock.yaml
Due: eslint --quiet, prettier --write

feat: add jest
  .changeset/config.json
  jest.config.js
  package.json
  packages/button/tests/button.test.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tools/jest/README.md
  tools/jest/package.json
  tools/jest/src/accessibility.tsx
  tools/jest/src/index.ts
  tools/jest/src/render.tsx
  tools/jest/src/setup-test.ts
  tools/jest/tsconfig.json
  tsconfig.json
Due: eslint --quiet, prettier --write

feat: add jest
  .npmrc
Due: none

feat: add jest
  pnpm-lock.yaml
Due: none

chore: add vite-react-ts-example
  .changeset/config.json
  examples/create-react-app/src/index.css
  examples/nextjs-app-router/src/app/globals.css
  examples/nextjs-app-router/src/app/page.module.css
  examples/nextjs-pages-router/src/styles/Home.module.css
  examples/nextjs-pages-router/src/styles/globals.css
  examples/vite-react-ts/.gitignore
  examples/vite-react-ts/README.md
  examples/vite-react-ts/index.html
  examples/vite-react-ts/package.json
  examples/vite-react-ts/public/vite.svg
  examples/vite-react-ts/src/App.css
  examples/vite-react-ts/src/App.tsx
  examples/vite-react-ts/src/assets/react.svg
  examples/vite-react-ts/src/index.css
  examples/vite-react-ts/src/main.tsx
  examples/vite-react-ts/src/vite-env.d.ts
  examples/vite-react-ts/tsconfig.json
  examples/vite-react-ts/tsconfig.node.json
  examples/vite-react-ts/vite.config.ts
  pnpm-lock.yaml
Due: eslint --quiet, prettier --write

chore: update example
  .eslintignore
  examples/nextjs-pages-router/next.config.js
  examples/nextjs-pages-router/package.json
  examples/nextjs-pages-router/src/pages/_app.tsx
  examples/nextjs-pages-router/src/pages/_document.tsx
  examples/nextjs-pages-router/src/pages/api/hello.ts
  examples/nextjs-pages-router/src/pages/index.tsx
  examples/nextjs-pages-router/src/styles/Home.module.css
  examples/nextjs-pages-router/src/styles/globals.css
  examples/nextjs-pages-router/tsconfig.json
  package.json
  packages/system/src/ThemeScript.tsx
  packages/system/src/index.ts
  pnpm-lock.yaml
Due: eslint --quiet, prettier --write

chore: update theme
  examples/nextjs-pages-router/src/pages/_app.tsx
  examples/nextjs-pages-router/src/pages/_document.tsx
  examples/nextjs-pages-router/src/pages/index.tsx
  packages/system/package.json
  packages/system/src/ThemeModeScript.tsx
  packages/system/src/ThemeScript.tsx
  packages/system/src/index.ts
  packages/system/src/provider.tsx
  packages/system/src/theme.ts
  packages/system/src/types.ts
  packages/system/src/use-theme-mode-sync.ts
  pnpm-lock.yaml
Due: eslint --quiet, prettier --write

chore: update system theme mode
  examples/nextjs-pages-router/src/pages/_app.tsx
  packages/system/package.json
  packages/system/src/provider.tsx
  packages/system/src/types.ts
  pnpm-lock.yaml
Due: eslint --quiet, prettier --write

fix: system theme mode
  packages/system/src/ThemeModeScript.tsx
Due: eslint --quiet, prettier --write

chore: update system theme mode
  .changeset/perfect-waves-film.md
  .vscode/extensions.json
  examples/nextjs-pages-router/next.config.js
  examples/nextjs-pages-router/src/pages/_app.tsx
  examples/nextjs-pages-router/src/pages/_document.tsx
  examples/nextjs-pages-router/src/styled.d.ts
  examples/nextjs-pages-router/src/theme/index.ts
  examples/nextjs-pages-router/tsconfig.json
  packages/core/clean-package.config.json
  packages/core/jsx-dev-runtime/index.ts
  packages/core/jsx-runtime/index.ts
  packages/core/package.json
  packages/core/src/jsx-dev-runtime.ts
  packages/core/src/jsx-runtime.ts
  packages/system/jsx-dev-runtime/index.ts
  packages/system/src/ThemeModeScript.tsx
  packages/system/src/index.ts
  packages/system/src/jsx-dev-runtime.ts
  packages/system/src/provider.tsx
  packages/system/src/theme.ts
  packages/system/src/types.ts
  pnpm-lock.yaml
Due: eslint --quiet, prettier --write

ci(changesets): version packages
  .changeset/perfect-waves-film.md
  packages/animations/CHANGELOG.md
  packages/animations/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/transition/CHANGELOG.md
  packages/transition/package.json
Due: prettier --write

chore: add docs
  .changeset/config.json
  docs/storybook/.gitignore
  docs/storybook/.storybook/main.ts
  docs/storybook/.storybook/manager-head.html
  docs/storybook/.storybook/manager.ts
  docs/storybook/.storybook/preview-head.html
  docs/storybook/.storybook/preview.tsx
  docs/storybook/.storybook/storybook-theme.ts
  docs/storybook/README.md
  docs/storybook/package.json
  docs/storybook/tsconfig.json
  docs/website/.gitignore
  docs/website/README.md
  docs/website/next.config.js
  docs/website/package.json
  docs/website/public/next.svg
  docs/website/public/vercel.svg
  docs/website/src/app/favicon.ico
  docs/website/src/app/globals.css
  docs/website/src/app/layout.tsx
  docs/website/src/app/page.module.css
  docs/website/src/app/page.tsx
  docs/website/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --quiet, prettier --write

chore: add docs
  package.json
Due: prettier --write

chore: update system
  examples/create-react-app/package.json
  examples/create-react-app/src/App.test.tsx
  examples/nextjs-app-router/package.json
  examples/nextjs-pages-router/package.json
  examples/nextjs-pages-router/src/pages/_app.tsx
  examples/nextjs-pages-router/src/widgets/header.tsx
  examples/nextjs-pages-router/tsconfig.json
  examples/vite-react-ts/package.json
Due: eslint --quiet, prettier --write

chore: update system
  .changeset/config.json
  .changeset/young-waves-sniff.md
  .github/workflows/quality.yml
  docs/website/package.json
  package.json
  packages/system/src/index.ts
  packages/system/src/provider.tsx
  packages/system/src/types.ts
  pnpm-lock.yaml
Due: eslint --quiet, prettier --write

ci(changesets): version packages
  .changeset/young-waves-sniff.md
  packages/animations/CHANGELOG.md
  packages/animations/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/core/CHANGELOG.md
  packages/core/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/transition/CHANGELOG.md
  packages/transition/package.json
Due: prettier --write

chore: update jest config
  .github/workflows/quality.yml
  jest.config.ts
Due: eslint --quiet, prettier --write

feat: btn jest
  jest.config.ts
  package.json
  packages/button/tests/__snapshots__/button.test.tsx.snap
  packages/button/tests/button.test.tsx
  packages/system/src/provider.tsx
Due: eslint --quiet, prettier --write

fix: turbo build outputs
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

chore: upgrade next
  docs/website/package.json
  examples/nextjs-app-router/package.json
  examples/nextjs-pages-router/package.json
  pnpm-lock.yaml
Due: prettier --write

chore: update themes
  examples/nextjs-pages-router/src/widgets/header.tsx
  packages/button/src/styles.ts
  packages/system/src/reset-css.tsx
  packages/system/src/theme.ts
Due: eslint --quiet, prettier --write

chore: readme
  docs/website/README.md
Due: none

feat: update
  docs/website/package.json
  examples/nextjs-app-router/package.json
  examples/nextjs-pages-router/package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update
  jest.config.ts
Due: eslint --quiet, prettier --write

feat: update button
  packages/button/package.json
  packages/button/src/button.tsx
  packages/button/src/styles.ts
  packages/button/src/type.ts
  packages/button/stories/button.stories.tsx
  packages/system/src/blackAlpha.ts
  packages/system/src/dark.ts
  packages/system/src/light.ts
  packages/system/src/reset-css.tsx
  packages/system/src/theme.ts
  packages/system/src/whiteAlpha.ts
  pnpm-lock.yaml
Due: eslint --quiet, prettier --write

feat: update button
  packages/button/src/button.tsx
  packages/button/src/type.ts
  packages/button/tests/__snapshots__/button.test.tsx.snap
  packages/button/tests/button.test.tsx
Due: eslint --quiet, prettier --write

ci: update node version
  .github/install/action.yml
Due: none

Path conditions:
  eslint --quiet: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json}
