Repository brb-tech/brb-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet, prettier --write

feat: Update btn transitions
  packages/button/src/button.tsx
  packages/button/src/styles.ts
  packages/button/src/type.ts
  packages/button/stories/button.stories.tsx
Due: eslint --quiet, prettier --write

feat: update btn transitions
  packages/button/src/button.tsx
  packages/button/src/styles.ts
  packages/button/stories/button.stories.tsx
Due: eslint --quiet, prettier --write

feat: update btn storybook
  apps/storybook/.storybook/main.ts
  packages/button/src/button.tsx
  packages/button/src/styles.ts
  packages/button/stories/button.stories.tsx
Due: eslint --quiet, prettier --write

feat: update btn
  apps/storybook/.storybook/preview.tsx
  packages/button/package.json
  packages/button/src/button.tsx
  packages/button/stories/button.stories.tsx
  pnpm-lock.yaml
Due: eslint --quiet, prettier --write

feat: update btn styles
  packages/button/src/button.tsx
  packages/button/src/styles.ts
  packages/button/src/type.ts
  packages/button/stories/button.stories.tsx
Due: eslint --quiet, prettier --write

style(btn): update active
  packages/button/src/styles.ts
  packages/system/src/provider.tsx
Due: eslint --quiet, prettier --write

chore: add changesets
  .changeset/README.md
  .changeset/config.json
  apps/web/.gitignore
  apps/web/README.md
  apps/web/next-env.d.ts
  apps/web/next.config.js
  apps/web/package.json
  apps/web/src/app/layout.tsx
  apps/web/src/app/page.tsx
  apps/web/tsconfig.json
  package.json
  packages/system/package.json
  pnpm-lock.yaml
Due: eslint --quiet, prettier --write

refactor: remove apps workspace
  .changeset/config.json
  .storybook/main.ts
  .storybook/manager-head.html
  .storybook/manager.ts
  .storybook/preview-head.html
  .storybook/preview.tsx
  .storybook/storybook-theme.ts
  apps/storybook/.gitignore
  apps/storybook/babel.config.js
  apps/storybook/package.json
  apps/storybook/src/index.ts
  apps/storybook/tsconfig.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
  tsconfig.json
Due: eslint --quiet, prettier --write

fix: update packages scripts
  package.json
Due: prettier --write

feat: add release actions
  .changeset/config.json
  .github/workflows/release.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write

feat: update system jsx-runtime
  packages/system/clean-package.config.json
  packages/system/package.json
  packages/system/src/jsx-runtime.ts
Due: eslint --quiet, prettier --write

feat: update release
  .changeset/unlucky-doors-cry.md
  .github/workflows/release.yml
Due: none

chore: initial release
  .github/workflows/release.yml
Due: none

feat(system): add readme
  packages/system/README.md
Due: none

feat(system): add readme
  .changeset/selfish-beers-kick.md
Due: none

feat(button): add readme
  packages/button/README.md
Due: none

feat(animations): add readme
  packages/animations/README.md
Due: none

ci: update release
  .github/workflows/release.yml
Due: none

feat(hooks): add readme
  packages/hooks/README.md
Due: none

feat(icon): add readme
  packages/icon/README.md
Due: none

ci: update
  .changeset/README.md
  .github/workflows/release.yml
Due: none

ci: update
  .changeset/README.md
Due: none

fix: update release.yml
  .github/workflows/release.yml
Due: none

ci(changesets): version packages
  .changeset/selfish-beers-kick.md
  .changeset/unlucky-doors-cry.md
  packages/animations/CHANGELOG.md
  packages/animations/package.json
  packages/button/CHANGELOG.md
  packages/button/package.json
  packages/hooks/CHANGELOG.md
  packages/hooks/package.json
  packages/icon/CHANGELOG.md
  packages/icon/package.json
  packages/icons/CHANGELOG.md
  packages/icons/package.json
  packages/system/CHANGELOG.md
  packages/system/package.json
  packages/transition/CHANGELOG.md
  packages/transition/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
Due: prettier --write

feat(utils): add readme
  packages/utils/README.md
  packages/utils/package.json
Due: prettier --write

chore: release
  .changeset/two-dots-decide.md
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --quiet: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{js,jsx,ts,tsx,json}
